In [1]:
import pandas as pd

# Identifying 'Funding Desserts' Across the US

### Donation Data

In [45]:
donation = pd.read_csv("donorschooseorg_challenge_donation.csv")
donation.head()

,Unnamed: 0,donor_hashed_id,donor_state,project_hashed_id,donation_hashed_id,donation_message,donation_amount,donation_date,donation_is_teacher_referred
0,0,ef334cd67d91c347230d24ae6b5a1dd2,New York,11205d09df1a9f083c105c252f429507,0aca331938a353947999832bf9328fb6,NaN,25.00,2018-11-01,No
1,1,b9f04b500f9bb13b65a60822807e709e,Pennsylvania,a9e79d6a3f75af1199d45034f6714096,326c0a8a6813c4758ad1ff3a3017526d,NaN,208.27,2018-11-01,No
2,2,f6d0642a830066269755ad3e36da9ab1,California,23da4d867721eb25d627da9c52cb10f7,f4b5462a0e7412efcbbe6ec7ed91d37e,NaN,95.25,2018-11-01,No
3,3,f6d0642a830066269755ad3e36da9ab1,California,8a87ed4a90876d1147e41a5888641c79,aa2b5fa009ce11a6d1a90176b4cff146,NaN,137.89,2018-11-01,No
4,4,0ad43a0a7c329323185e424170c97fb7,California,02b75b96ad12898cf0e63be356c7bb1a,990c46cac2bdcfba4ffe14d7b54fb099,David told me about this. Great cause and best...,43.15,2018-11-01,No

### Schools Data

In [44]:
schools = pd.read_csv("donorschooseorg_challenge_school.csv")
schools.head()

,Unnamed: 0,school_hashed_id,school_address_state,school_address_city,school_address_district,school_dist_percent_ell_students,school_bilingual_prgm,school_esl_prgm,school_dist_number_ell_students,school_metro_type,school_percentage_free_lunch
0,0,d9c07a2b76b79d658cb62ce39f73b1da,Wisconsin,Eau Claire,Eau Claire Area School Dist,3.0,No,No,3.0,urban,40.0
1,1,146f2ec953a680ab8eb9bd8ce5b59868,South Carolina,Sumter,Sumter School District,NaN,No,No,3.0,urban,76.0
2,2,6b380bfdbe5a964711fe883d1bfb26df,Illinois,Chicago,Chicago Psd-Network 5,NaN,No,No,3.0,urban,95.0
3,3,682b672958a49aef821db0a716a98577,New York,New York City,New York City Dept Of Ed,1.0,No,No,3.0,urban,82.0
4,4,043f2e6bc8b60312359ca90aa8a01d62,Florida,Molino,Escambia Co School District,1.0,No,No,3.0,rural,62.0

### Project Data

In [41]:
project = pd.read_csv('donorschooseorg_challenge_project.csv').drop(['project_essay_one', 'project_essay_two', 'project_subj_subcat_tree', 'project_impact_letter'], axis=1)
project.head()

,Unnamed: 0,project_hashed_id,project_title,project_cost,project_posted_date,project_funded_date,project_subj_cat_tree,project_grade_cat,project_resource_type,teacher_hashed_id,school_hashed_id
0,0,e80079d9de118490d37643fa6dadd806,Words are the Beginning to So Many Journeys!,357.60,2018-11-01,NaN,Literacy & Language,Grades 3-5,materials,6684cc9bb4d8be1d99722d4273f7bee2,cfc1e0138960a65cd27b166cf67d9e8b
1,1,f98c0bebcd7aa0df8a5965ad9f35c57d,Spice Up Our Technology!,201.22,2018-11-01,NaN,Math & Science,Grades 3-5,materials,4102a4a99a540232d657d4789391ac36,9919d634d4edb19c3660dc3342e15da0
2,2,c7acba160590697707f4d6d58c512c08,Can You Build It?,622.75,2018-10-31,2018-10-31,Math & Science,Grades 9-12,materials,7e9fb443bfbeaaad89a93a4742efac75,a998da284b1b6edc3e8a2de59753675d
3,3,0f57de4cf57128dbd8a962d050f4f3e5,Putting the MUsic in MUtes - Trombone Edition,848.38,2018-10-31,2018-10-31,Music & The Arts,Grades 9-12,materials,dc18c15a85115dfbba924b5eedd0e58e,c79bd65959038a6fbd03893b5f323339
4,4,0256a1fa7798d1680d6d3e5a43a777d2,Tablets for Differentiating Instruction,799.48,2018-10-31,2018-10-31,Literacy & Language,Grades PreK-2,materials,30faba25220bb299fc2e9825e6c89438,3b4a6df3881bdc2154d9b09e8a92e10d

### Arrivals Data

#### Serving as a Proxy for current refugee population across the US

In [38]:
arrivals = pd.read_csv('Arrivals_by_Destination_and_Nationality_2010-2018.csv')
states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Indiana', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York','North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota','Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

/Users/Maria/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
arrivals = arrivals.drop(['nationality', 'total_per_state_nationality'], axis=1).rename(columns={'Assur_DestinationCity1': 'City', 'calendar_year': 'year', 'total_per_state_city': 'total_per_city', 'City': 'city', 'total_by_state': 'total_per_state'})[arrivals['state'].isin(states)]

In [35]:
grouped_by_city = arrivals.groupby(['City'])

In [40]:
arrivals.head()

     state     year total_per_state    City total_per_city total_year
0  Alabama  CY 2010             153  Mobile              8     71,361
1  Alabama  CY 2011              86  Mobile              5     51,458
2  Alabama  CY 2012             149  Mobile              7     66,292
3  Alabama  CY 2013             122  Mobile              9     66,066
4  Alabama  CY 2014             116  Mobile              1     72,820

In [56]:
merge_schools_donor = donation.merge(project, left_on='project_hashed_id', right_on='project_hashed_id')
merge_SchoolsDonor_location = merge_schools_donor.merge(schools, left_on='school_hashed_id', right_on='school_hashed_id')
merge_SchoolsDonor_location.head()

,Unnamed: 0_x,donor_hashed_id,donor_state,project_hashed_id,donation_hashed_id,donation_message,donation_amount,donation_date,donation_is_teacher_referred,Unnamed: 0_y,...,Unnamed: 0,school_address_state,school_address_city,school_address_district,school_dist_percent_ell_students,school_bilingual_prgm,school_esl_prgm,school_dist_number_ell_students,school_metro_type,school_percentage_free_lunch
0,0,ef334cd67d91c347230d24ae6b5a1dd2,New York,11205d09df1a9f083c105c252f429507,0aca331938a353947999832bf9328fb6,NaN,25.0,2018-11-01,No,21819,...,41249,New York,New York City,New York City Dept Of Ed,NaN,No,No,NaN,urban,95.0
1,147,c46384bdf7b8fe7873e6fc92e2887858,New York,11205d09df1a9f083c105c252f429507,725afc5efd2131836df4f725d84f44a1,Reading & writing is very important. If this ...,50.0,2018-10-31,No,21819,...,41249,New York,New York City,New York City Dept Of Ed,NaN,No,No,NaN,urban,95.0
2,173,c08dcebf562a1e3d3aaa35774ca9dfb4,New York,11205d09df1a9f083c105c252f429507,8918c1b3f05246917ef7af084fa64b1c,For the best teacher I ever had I love you Mrs...,15.0,2018-10-31,No,21819,...,41249,New York,New York City,New York City Dept Of Ed,NaN,No,No,NaN,urban,95.0
3,207,a1c5e38829939eab408a55bad91f8e9b,New York,11205d09df1a9f083c105c252f429507,2811b4b96890eaac866954bdf23987ff,"“Teachers who love teaching, teach children to...",25.0,2018-10-31,No,21819,...,41249,New York,New York City,New York City Dept Of Ed,NaN,No,No,NaN,urban,95.0
4,337,b05afb15d69419f9622a0b414d7d1bd9,New York,11205d09df1a9f083c105c252f429507,6efe92b4ea4db274fecefcbabc9c5e4a,Because of this class I knew what I wanted to ...,50.0,2018-10-30,No,21819,...,41249,New York,New York City,New York City Dept Of Ed,NaN,No,No,NaN,urban,95.0

In [59]:
merge_SchoolsDonor_location = merge_SchoolsDonor_location.loc[:, ['donor_hashed_id', 'donor_state', 'project_hashed_id', 'donation_hashed_id', 'donation_amount', 'donation_message', 'donation_date', 'school_address_state', 'school_address_city', 'school_address_district']]

In [60]:
merge_SchoolsDonor_location.head()

,donor_hashed_id,donor_state,project_hashed_id,donation_hashed_id,donation_amount,donation_message,donation_date,school_address_state,school_address_city,school_address_district
0,ef334cd67d91c347230d24ae6b5a1dd2,New York,11205d09df1a9f083c105c252f429507,0aca331938a353947999832bf9328fb6,25.0,NaN,2018-11-01,New York,New York City,New York City Dept Of Ed
1,c46384bdf7b8fe7873e6fc92e2887858,New York,11205d09df1a9f083c105c252f429507,725afc5efd2131836df4f725d84f44a1,50.0,Reading & writing is very important. If this ...,2018-10-31,New York,New York City,New York City Dept Of Ed
2,c08dcebf562a1e3d3aaa35774ca9dfb4,New York,11205d09df1a9f083c105c252f429507,8918c1b3f05246917ef7af084fa64b1c,15.0,For the best teacher I ever had I love you Mrs...,2018-10-31,New York,New York City,New York City Dept Of Ed
3,a1c5e38829939eab408a55bad91f8e9b,New York,11205d09df1a9f083c105c252f429507,2811b4b96890eaac866954bdf23987ff,25.0,"“Teachers who love teaching, teach children to...",2018-10-31,New York,New York City,New York City Dept Of Ed
4,b05afb15d69419f9622a0b414d7d1bd9,New York,11205d09df1a9f083c105c252f429507,6efe92b4ea4db274fecefcbabc9c5e4a,50.0,Because of this class I knew what I wanted to ...,2018-10-30,New York,New York City,New York City Dept Of Ed